/* STYLE SECTIONING TAGS */
body {
 background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  white-space: nowrap;
}

main {
   text-align: center;
}

/* STYLE TEXT */

h1 {
  color: #2f241f;
  font-family: Verdana, sans-serif;
}

h3 {
  font-family: Verdana, sans-serif;
}

h4 {
  font-family: Verdana, sans-serif
}

p {
  color: #2f241f;
  font-family: Verdana, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: Verdana, sans-serif;
}

ul {
  padding-inline-start: 0;
}

.spaces {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25%;
}

.spaces p {
  padding-top: 1.25%;
  padding-bottom: 1.25%;
  width: 30%;
  border-style: solid;
  border-radius: 10px;
}

.spaces a{
  padding: 0.8%;
  border-style: solid;
  border-radius: 10px;
  background-color: white;

}

.interests {
  display: flex;
  justify-content: center;
}

.interests li {
  width: 400px;
  padding-top: 1%;
  padding-bottom: 2%;
}

.interests a{
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;

}

.projects {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.projects li {
  width: 550px;
  height: 450px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
}

.noimageproject li {
  height: 250px;
}

.desc {
  border-style: solid;
  padding-bottom: 15px;
  margin-top: 15px;
  height: 200px;
}

.desc p {
  padding-bottom: 10px;
}

.desc a {
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
}

.projects img {
  padding-bottom: 10px;
}

.nolink {
  height: 150px;
}

.abouts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.abouts li {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.bios {
  padding-top: 30px;
}

/* STYLE IMAGES */

.miffy {
  border-radius: 75%;
  padding-top: 1%;
}

img {
  border-radius: 25%;
  height: 180px;
  width: 180px;
}

/* STYLE NAV BAR */

.navs {
  list-style-type: none;
  overflow: hidden;
}

.navs li {
  display: inline;
}

.navs a {
  padding: 0.8em;
  font-size: 1.05em;
}

li {
  display: inline-block;
}

a:hover {
  color: #c7a3a5 ;
}

.spaces a:hover {
  background-color: white;
}

.interests a:hover {
  background-color: white;
}

.projects a:hover {
  background-color: white;
}

.nocolor a:hover {
  color: #2f241f;
}
